[2018-02-05 20:41] bacongravy opened #1 "Installing the VMware Tools fails with an unhelpful message if darwin.iso is missing"
Installing the VMware Tools fails with an unhelpful message if darwin.iso is missing:

[code]

At the very least the message needs to tell you the tools are not present.  An even better user experience would be for the macinbox tool to download the tools itself.

[2018-02-05 21:26] bacongravy commented on #1
The tools can be downloaded from [here](http://softwareupdate.vmware.com/cds/vmw-desktop/fusion/10.1.1/7520154/packages/com.vmware.fusion.tools.darwin.zip.tar).

[2018-02-05 21:36] bacongravy opened #2 "Colors are not reset properly"
When running in a terminal configured with foreground color other than black, the current handing of colors is incorrect.  The text color is set to black at the end of the script, even if that was not the original text color.  On a black background, this makes the text invisible!

It looks like we need to use `tput sgr0` to reset the color, instead of `tput setaf 0`, which sets it explicitly to bl

[2018-02-06 16:28] #2 closed

[2018-02-07 08:33] #1 closed

[2018-03-12 04:41] bacongravy opened #3 "Guest shows "Cable Unplugged" in Network Preferences, loses connectivity on reboot"
Upon first booting a macinbox, the VM gets a DHCP address and can connect to the Internet, but if you look in the Network Preferences you will see that it says that the interface status is "Cable Unplugged".  When you next reboot the VM, it fails to obtain a DHCP address, and cannot connect to the internet, and the host cannot reach it via `vagrant ssh`, either.

You can workaround the issue by ch

[2018-03-12 04:43] bacongravy commented on #3
It appears that the box's `ethernet0.virtualdev` is getting set to `e1000` when Vagrant clones it, but the macOS guest expects it to be set to `e1000e`.  The solution is to override the VMX setting in the box's embedded Vagrantfile.

[2018-03-12 04:45] #3 closed

[2018-04-03 23:54] bacongravy opened #4 "Allow building boxes with SIP disabled"
Sometimes you need to test or verify something, and SIP gets in your way.  It would be useful to be able to quickly spin up a VM with SIP pre-disabled.

The SIP setting is stored in NVRAM, so it may be possible to generate an appropriate .nvram file and drop it into the box at creation time, without having to boot the image at all.

[2018-04-17 07:20] bacongravy opened #5 "Running `macinbox -v` raises an exception"
This is supposed to print the tool's version number.

[2018-04-17 07:22] #5 closed, assigned to nobody

[2018-04-18 03:32] bacongravy opened #6 "Parallels VM appears windowed when it should be fullscreen"
After creating a Parallels Desktop macinbox using the default settings and up-ing a Vagrant environment, the VM appears in a window, when it should appear fullscreen.

[2018-04-18 03:33] bacongravy commented on #6
This issue is caused by a typo in an instance variable name (@fullsceen vs @fullscreen).

[2018-04-18 03:35] #6 closed

[2018-04-18 04:15] bacongravy opened #7 "VMware boxes fail to boot with error: Box 'macinbox' could not be found."
The commit that added Parallels Desktop support introduced a regression that affects VMware boxes.  The boxes fail to boot:

[code]

[2018-04-18 05:28] bacongravy commented on #7
This is due to a typo in the box-format parameter default value; it should be 'vmware_fusion', not 'vmware-fusion'.

[2018-04-18 06:13] #7 closed

[2018-04-21 00:05] americanhanko opened #8 "Feature request: support Parallels without requiring VMware Fusion"
## Problem

Currently, creating macOS Parallels Vagrant boxes requires the user to have purchased both VMWare Fusion as well as Parallels Desktop. Both hypervisors are pretty steep in price, and which may deter users from using `macinbox`.

## Possible Solutions

Instead of using VMware's command line tools to convert the raw device bits to VMDK and then use `prl_disk_tool` to convert the VMDK to

[2018-04-21 03:07] bacongravy commented on #8
I'd love to find a way to build a Parallels box without needing another vendor's VM software installed. I've spent many hours looking for a viable solution to creating a Parallels hdd from a raw device or existing macOS disk image (dmg), but have come up short.

If we're going to still require a second vendor's VM software, qemu-img's price does seem appealing, but in my experimentation it seems t

[2018-04-22 17:33] bacongravy commented on #8
@americanhanko Could you provide an example of the `qemu-img` and `prl_convert` command-line invocations you used to successfully generate a Parallels HDD from the raw device?

[2018-04-22 17:53] bacongravy commented on #8
This approach looks promising: [raw2vmdk](https://github.com/Zapotek/raw2vmdk)

The basic idea is to fill in a VMDK template to create a single-extent VMDK whose single extent is backed by the file created by `dd`-ing the raw device.

One thing I want to try is creating a single-extent VMDK backed by the raw device file (`/dev/diskN`) of the mounted disk image; I think, depending on what API `prl_

[2018-10-01 02:50] bacongravy opened #10 "Error trying to use macOS 10.14 Mojave installer"
Running `macinbox` on macOS 10.14 Mojave and pointing it at the Mojave installer app fails:

    $ macinbox --installer /Applications/Install\ macOS\ Mojave.app
    • Creating image from installer...
      + Checking macOS versions...
      + Creating and attaching a new blank disk image...
      + Installing macOS...
        - installer: 0% done [|

[2018-10-30 18:47] lfaraone opened #12 "Cannot create a Mojave disk on VMWare Fusion 11"
[macinbox_debug.log](https://github.com/bacongravy/macinbox/files/2531131/macinbox_debug.log)

I downloaded Mojave from the app store and then attempted to run `sudo macinbox`; it failed with the above debug log. I'm running Mojave on the host and using VMware Virtual Disk Manager - build 10120384.

Relevant bit from logs, I think:
[code]

[2018-10-30 20:19] rickmark commented on #12
Defiantly a problem with `vmware-vdiskmanager` on macOS 10.14

[code]

[2018-10-31 04:13] bacongravy commented on #12
@lfaraone, thank you for this report. As the README says, this tool has only been tested to work with VMware Fusion Pro 10.1.3.

I noticed a similar failure occur when using with Fusion 11, which I mentioned here: https://github.com/bacongravy/macinbox/pull/11#issuecomment-427252855

That failure was with `vmware-rawdiskCreator`. I granted that tool Full Disk Access and then saw the same crash tha

[2018-11-12 02:39] rickmark commented on #12
@bacongravy - I have filed a ticket with VMware via our enterprise support.  I'll let you know if they come back with a resolution on fixing the tool.  (I mean, I find it worrying that something like that SEGFAULTS)

[2018-11-14 07:59] yeahdongcn commented on #12
Yes, we have received this ticket and we are working on the fix now.

[2018-11-14 09:15] yeahdongcn opened #13 "Is macOS 10.14 host required?"
I was trying to run macinbox in my macOS 10.13.6 host and an error occurred `- Error: host OS version (10.13.6) and installer OS version (10.14) do not match`. Then I comment out `check_macos_versions` and everything works fine. So why checking the version of host?

[2018-11-15 04:08] bacongravy commented on #13
Hello, @yeahdongcn! Thanks for the report.

It has been my understanding that, at least in the past, the `installer` tool only worked when the host machine version matched the version of the OS in the package, due to the packages depending on specific features the tool. Apparently that is no longer the case!

I'll verify that I too can run `macinbox` on 10.3.6 pointing at a 10.14 installer, and th

[2018-11-15 06:11] yeahdongcn commented on #13
Sounds great, thanks.

[2018-11-17 05:12] bacongravy commented on #13
Fixed with https://github.com/bacongravy/macinbox/commit/7c13c2a6979aac8dcaa1b758d7d2138380682ab6. Version mismatch between host and installer now results in a warning instead of an error.

[2018-11-17 05:12] #13 closed

[2018-11-17 06:25] bacongravy opened #14 "vmware_fusion box settings not loaded by vmware_desktop provider"
After updating to the vagrant-vmware-desktop (2.0.1) plugin from the old vagrant-vmware-fusion (5.0.4) plugin I discovered that the `gui = true` setting was no longer being honored.  It appears that the new vmware_desktop provider does not read the settings in vmware_fusion blocks in box Vagrantfiles.

[2018-11-17 06:34] bacongravy commented on #14
As a workaround for existing boxes, folks may want to add something like this to their Vagrantfile:

[code]

[2018-11-17 06:43] bacongravy commented on #12
I have confirmed that this failure still occurs with VMware Fusion 11.0.1.

[2018-11-17 19:36] bacongravy commented on #14
I have addressed this with https://github.com/bacongravy/macinbox/commit/8e296f2cce847b129da447e943101af3dfb34353.  Since this is a change in a dependency I'm considering this a breaking change and plan on incrementing the major version number of `macinbox` to 3.0 before releasing.

[2018-11-20 03:20] yeahdongcn commented on #13
Really appreciate your quick action!

[2018-11-26 19:37] jokdbx commented on #12
and 11.0.2

[2018-12-03 08:28] qrevel opened #15 "Error copying vagrant box"
By default, boxes are copied to `~/.vagrant.d/boxes`.

So when `~/.vagrant.d/boxes` doesn't exist, we get the following error:

[code]

I see three solutions here:

- Create the folder if not found
- Use the [VAGRANT_HOME](https://www.vagrantup.com/docs/other/environmental-variables.html#vagrant_home) env var
- Use `vagrant box add`

[2018-12-05 00:13] bacongravy commented on #15
Hello @qrevel, and thank you for this report.  I chose not to use `vagrant box add` because it makes the whole process take longer and use more disk space, as the box must be tar'd up and then untar'd again.

I like the suggestion to use the `VAGRANT_HOME` env var when available, falling back on `~/.vagrant.d/boxes` as the default.  I'm reluctant to create the folder if it is not found.  I'd prefe

[2018-12-05 19:24] qrevel commented on #15
Ok, currently I'm just creating the `~/.vagrant.d/boxes` folder as a workaround and move the box in my `VAGRANT_HOME` after.

[2018-12-06 05:33] bacongravy commented on #15
I've addressed this with https://github.com/bacongravy/macinbox/commit/97e3a0e7967add221600463373cd89021107aee3. The VAGRANT_HOME environment variable is used if it is set, and the `boxes` directory is created inside of it, if necessary.

Note that you do need to make extra effort to get the environment variable across the `sudo` barrier, e.g.:

    $ sudo "VAGRANT_HOME=${VAGRANT_HOME}" macinbox

[2018-12-06 05:33] #15 closed

[2018-12-06 07:43] qrevel commented on #15
Ok thanks I'll try it 👍

[2018-12-12 16:56] qrevel opened #16 "Parallels sed error"
When building a parallels box, I got the following error:

[code]

[code]

[code]

[2018-12-14 15:55] bacongravy commented on #16
Thank you for the report, @qrevel!  That error message suggests to me that somehow, the GNU version of `sed` was run instead of the built-in BSD version; I suspect that it is because they handle the `-i` argument differently.

The code in `macinbox` currently just invokes `sed` and relies on the PATH environment variable to indicate the lookup order for which version to use. Perhaps you have your

[2018-12-14 16:30] qrevel commented on #16
Yes you are right, I'm running the GNU sed instead of the system one.

It's working when I'm bypassing the system one

[2018-12-15 06:14] bacongravy commented on #16
I have address this issue with https://github.com/bacongravy/macinbox/commit/3e04c2ca6333572b5f47dc418af0e60db138e1b9. The change will be in the forthcoming 3.0.0 release.

[2018-12-15 06:30] bacongravy commented on #16
v3.0.0 has been released.

[2018-12-15 06:30] #16 closed

[2018-12-15 06:31] bacongravy commented on #14
v3.0.0 has been released.

[2018-12-15 06:31] #14 closed

[2019-01-04 19:32] rickmark commented on #12
Hey @bacongravy - Can we get an update or the ticket number so we can reach out to support about it?

[2019-01-05 21:39] bacongravy commented on #12
@rickmark I don't have a ticket number, but perhaps @yeahdongcn knows if a fix is forthcoming or if there are any workarounds we could try.

Perhaps it is time to consider integrating support for using `qemu-img` to create the vmdk, so that there is a supported workflow for VMWare Fusion 11 users.

[2019-01-08 01:52] yeahdongcn commented on #12
Yes, this issue will be resolved in the next Fusion 11 release.

[2019-01-14 23:58] mnuthan1 opened #18 "Support for VirtualBox (OVF) box format"
how can I generate OVF format for virtualbox using macinbox.

[2019-01-15 00:36] bacongravy commented on #18
That's a great question! I am not a VirtualBox user, so I don't know the answer offhand.

Some quick googling suggests that it is possible to convert a vmx and vmdk (VMware machine definition and disk image) into an OVF/OVA, so one approach would be create the VMware vagrant box, and then try converting the embedded vmx/vmdk.

Alternatively, this project might be what you're looking for: https://g

[2019-01-15 00:45] bacongravy commented on #18
Here's another approach: https://github.com/AlexanderWillner/runMacOSinVirtualBox

I suspect one could add VirtualBox support to `macinbox` by following a similar pattern, along with the `VBoxManage convertfromraw` command for creating the VDI.

[2019-01-21 23:53] bacongravy commented on #18
v3.1.0 has been released. After updating, you can use this feature like so:

[code]

[2019-01-21 23:53] #18 closed

[2019-01-26 13:57] robin850 opened #19 "Legal advice"
Hi,

First, kudos and thanks for sharing this project ! 🎉

I take the liberty to open this tiny ticket just to open a discussion around potential legal issues. IANAL but, searching for a technology similar to containers on macOS, someone on a topic stated that there may be legal issues to virtualization (the topic is [here](https://groups.google.com/forum/#!topic/darwin-dev/6-FP9GCsBG4) and is pre

[2019-01-27 04:13] bacongravy commented on #19
Hello, @robin850, and thank you for your interest!

The [VMware Fusion documentation](https://docs.vmware.com/en/VMware-Fusion/11/com.vmware.fusion.using.doc/GUID-474FC78E-4E77-42B7-A1C6-12C2F378C5B9.html) provides this information about using macOS as a guest:

The [VirtualBox documentation](https://www.virtualbox.org/manual/ch03.html#intro-macosxguests) provides this information about using macO

[2019-01-27 10:59] robin850 commented on #19
Yes, totally fair point, you're right !

Your note looks great ! 👍 Actually, I didn't think about looking at VirtualBox or VMware documentation at all ; now that I read your message, that seems obvious but given how simple the note is, that still makes sense to put it in the README IMO.

[2019-01-28 17:22] knuckolls commented on #12
fwiw i did try hacking in the qemu-img fix by hand and didn't get it quite right. apple at bootup, then boot loop thereafter. fwiw, in lieu of the new fusion 11 point release if someone does have the process working it seems like a simple shim into the codebase. i'm not convinced i did the `dd` against the correct partition, for example. since these things run for awhile i lost interest and may re

[2019-01-28 18:15] epackorigan commented on #12
the other possible workaround is to do the following:
* install VMware Fusion 10, and upgrade to latest version
* copy the `/Applications/VMware Fusion.app` to `/Application/VMware Fusion 10.app`
* Upgrade to vmware Fusion 11 (the one in `/Applications/VMware Fusion.app`) and add any updates on top of that.

Then, when running macinbox, you can use the `--vmware /Applications/VMware Fusion 10.app`

[2019-01-28 19:00] bacongravy commented on #12
Thanks, @epackorigan!  That sounds like it would work.  You should be able to boot the created box with VMware Fusion 11; but you need to use the command-line tools from version 10 to create the box.

[2019-01-29 06:04] bacongravy commented on #12
@knuckolls Assuming you have the `macinbox.dmg` output file from the `CreateImageFromInstaller` action, you could try the following:

[code]

[2019-01-30 22:25] mnuthan1 opened #20 "VirtualBox VM hangs waiting for DSMOS on Mac Pro (Late 2013)"
Thank you for adding support for virtual box, but the created image is not starting from  Mac Pro (Late 2013) host machine.
It fails after the message "Waiting for DSMOS"  (it's not throwing any error but never boots )

From Mac Book Pro, VM is up and running.

[2019-01-30 23:05] bacongravy commented on #20
@mnuthan1 Thanks for the report.  I don't have a Mac Pro to attempt to reproduce with, unfortunately.  I'm curious, which machine did you create the vagrant box on?   Does the same box that works on the MacBook Pro fail to boot on the Mac Pro?  This seems like it could be a bug in VirtualBox itself.

[2019-01-31 03:13] mnuthan1 commented on #20
@bacongravy , First I tried with vagrant box created in Mac book pro that did not worked and then I created vagrant box from Mac Pro itself.

[2019-01-31 03:15] mnuthan1 commented on #20
I believe,  https://github.com/AlexanderWillner/runMacOSinVirtualBox  used clover to boot

[2019-01-31 15:54] bacongravy commented on #20
@mnuthan1 Thank you for the investigative work you've done. The runMacOSinVirtualBox project was actually recently updated to stop using clover to boot, and it is that new technique that I copied into this project.  If we knew that runMacOSinVirtualBox could produce a working VM on a Mac Pro where `macinbox` cannot, that would give me something to investigate further.  Basically, I'm looking for a

[2019-01-31 19:55] epackorigan opened #21 "Unexpected behavior when installer already in DMG"
If you use `https://github.com/munki/macadmin-scripts/blob/master/installinstallmacos.py` to build DMGs for the installer, and mount those as the source for macinbox as `/Volumes/Install macOS Mojave`, the one created by macinbox ends up as `/Volumes/Install macOS Mojave 1`, and the first is the one that ends up being unmounted at the end of the process, leaving the other around...

Can the follow

[2019-01-31 19:55] epackorigan opened #22 "additional flag to output 'box' file rather than load locally."
It would be great to add a flag to create the '.box' file for each platform, rather than 'planting' the file for use.

(tar the files into a target filename, instead of copying them to .vagrant.d)

[2019-02-01 00:50] bacongravy commented on #21
Hi, @epackorigan! Thanks for letting me know about this issue.

I am already working on some unrelated changes that will address your second request; the wrapper image for the installer will be correctly unmounted using its device node instead of its supposed mountpoint.

I do like your first request; it would be much more efficient if the script detected that the installer was already in a DMG, a

[2019-02-01 00:56] bacongravy commented on #22
Thanks for the suggestion, @epackorigan. As a workaround, you could try using [`vagrant box repackage`](https://www.vagrantup.com/docs/cli/box.html#box-repackage).

[2019-02-01 01:17] bacongravy commented on #21
With the changes in https://github.com/bacongravy/macinbox/commit/73aa46bcb319026f71ab2b8abd5649bcd15a37f7 the correct installer disk image should now be getting unmounted.

[2019-02-01 02:49] bacongravy commented on #21
With the changes in https://github.com/bacongravy/macinbox/commit/9623626feb64d866c1b5a3478e26c8c28d521cf9, creation of the wrapper image is now skipped if the installer app is on a non-root volume.

[2019-02-01 05:40] bacongravy commented on #12
With the changes in https://github.com/bacongravy/macinbox/commit/f9dff18225967d0f24f21fa0ac4265d8ca0136dd you can now pass a `--with-qemu` option which will case `macinbox` to use qemu-img to create the VMDK.  This avoids using `vmware-rawdiskCreator` and `vmware-vdiskmanager` and therefore should provide a workaround for people trying to use VMware Fusion 11.

This feature is expected to go out

[2019-02-01 05:43] bacongravy commented on #19
This showed up in https://github.com/bacongravy/macinbox/commit/1b3458463ca58e8f0c4161d8b88847455694c1d7. It will go out with the v3.2.0 release.

[2019-02-01 19:37] bacongravy commented on #21
With the changes in https://github.com/bacongravy/macinbox/commit/1c5115e6a3ac7716efc1a2f2942ac2f8b04943c4 I have implemented a `--installer-dmg` option which allows you to specify an unmounted installer disk image (e.g. one created by `installinstallmacos.py`). The `macinbox` script will automatically mount and unmount this disk image as needed.

[2019-02-02 21:12] bacongravy commented on #19
v3.2.0 has been released to rubygems.org. Closing.

[2019-02-02 21:12] #19 closed

[2019-02-02 21:12] bacongravy commented on #21
v3.2.0 has been released to rubygems.org. Closing.

[2019-02-02 21:12] #21 closed

[2019-02-02 21:13] bacongravy commented on #12
v3.2.0 has been released to rubygems.org.

[2019-02-08 15:10] egandro opened #24 "Whitelisting of Kext's"
Hello,

can we make a nice --whitelist-known-kext flag?

I'd like to whitelist all "wellknown" kext e.g. vbox, virtualbox, docker, ... by the way you use for vmware.

This will reduce the number of clicks we have to do in postsetup.

(I will create a patch request within a few days).

[2019-02-08 18:19] egandro opened #25 "NoTTY error when using ansible"
I am using ansible to run macinbox.

However there is a problem.

It fails in lib/macinbox/task.rb:19

columns = STDOUT.winsize[1] - 8 # there is no winsize on a noTTY

I suggest adding a "--silent" option or detecting if it's a notty.

[2019-02-08 18:22] egandro commented on #25
My current workaround:

sudo script /tmp/macinbox.log macinbox

^^^^ script is a pseudo terminal that logs output to a file

[2019-02-08 21:14] egandro commented on #25
I just learned a bad thing. It seams the OSX installer needs to have a UI present.

For some reasons I can't install via SSH :(

Maybe some of you guys will find out how - I will now do a full UI Login via ansible.

[2019-02-08 22:41] bacongravy commented on #25
Hi, @egandro!  Thanks for your interest in `macinbox`.

It seems reasonable to me for `macinbox` to attempt to detect when there is no TTY and not use TTY features in that case. I'll look into that. However, it sounds like that wouldn't be sufficient to make `macinbox` work from an `ssh` session, based on your followup.

Can you try running with the `--debug` flag and letting me know what error me

[2019-02-08 23:00] bacongravy commented on #24
Sure, @egandro, I'd be happy to consider a PR that adds such a feature, thought it does does seem like it may contradict the `macinbox` design philosophy:

I think I'm willing to make an exception here, since `macinbox` already knows how to update the kext whitelist, and there's a clear benefit to getting the kext whitelisted before the first boot.

On the other hand, I wonder if it would be bette

[2019-02-09 16:24] egandro commented on #25
I have a solution :) but this really bugs your head.

1) Do a login via VNC to enable the Desktop to mac

2) open -a "Terminal" ./myshellscript.sh

Stupid systems needs desperate measures...

[2019-02-09 16:25] egandro opened #26 "Support for using created boxes with `mech`"
There is a 100% opensource driver for Vagrant <-> VMWare:

https://blog.kchung.co/mech-vagrant-with-vmware-integration-for-free/

This is the GIT Page:

https://github.com/mechboxes/mech

[2019-02-09 20:25] bacongravy commented on #26
In what way is this not already supported? From my reading, `mech` boots regular Vagrant boxes, which is what `macinbox` creates.

[2019-02-09 21:47] egandro commented on #26
Can we add some flavour to the VMware creation and make it _mech_ aware?

[2019-02-09 21:51] bacongravy commented on #24
@egandro please take a look at the `--user-script` feature I added in PR #27 and let me know if that would address your request.

[2019-02-09 21:57] bacongravy commented on #26
The customization that goes into the embedded Vagrantfiles manages whether or not the GUI is displayed and whether or not the window starts in fullscreen mode or not.

If you can determine what `macinbox` would need to do to create boxes that had that behavior with `mech` I'd be happy to consider it.

[2019-02-09 22:03] egandro commented on #26
I really really want to have a full feature blown automatic setup for VM Boxes with XCode gitlab-runner, Applium on the iOS emulator and the Selenium for Safari.

Starting with 10.13 Apple makes this so  hard to create the environment it via script :(

Currently I am evaluating multiple scenarios using the new Mac Mini 2018 with 32/65 GB.

1) Running native OSX (+ add VMs)
2) Running ESXi and havi

[2019-02-09 22:16] bacongravy commented on #26
I use `macinbox` boxes as dev environments. I have a lot of small projects ongoing, and each project I work on is in a different VM. I wish you luck in getting your CI/CD box working.

If you know any tricks for automating the install of Xcode I'd love to hear them! That is still a manual step for me after I boot the boxes.

[2019-02-09 22:18] egandro commented on #26
Well... I do VNC "automatization" - this feels sooo ugly :(

Do you know a way of enabling VNC from CLI with a custom passwort?

Here my script:

`
# Screen Saver
move 0 0 click 1
sleep 10

capture 001_start.png

# Login
move 960 465 click 1
type {{ ADMIN_USER_PASSWORD }} key enter
sleep 10

capture 002_after_login.png

# System Extensions Blocked Dialog (might be on our screen)
move 1110 366 clic

[2019-02-09 22:21] egandro commented on #26
Btw. for X-Code you can download the file "Xcode_10.1.xip" from apple.

You don't have to go with an Apple ID

[2019-02-10 00:02] egandro commented on #24
I think yes - if we provide some cool examples.

[2019-02-10 03:49] Brantone opened #28 "hdiutil failed with non-zero exit code: 16"
Still debugging to try to figure out what's going on, but figured would post here in case anything obvious.
The command:
[code]
The part where it errors out:
[code]

Not sure if `hdiutil` actually outputs anything, but would be nice to have bit more verbosity  ... like what is the exact command that is being run?

Will post things as I find them.

[2019-02-10 05:13] bacongravy commented on #28
The command being run in this case is `/usr/bin/hdiutil detach /dev/disk17`: https://github.com/bacongravy/macinbox/blob/b0bb3eed79e4b87427e8a6b17c259c88cde392dc/lib/macinbox/virtual_disk.rb#L73

You could try changing the max_attempts in that function, or making the sleep longer, as a workaround.  The reason why the function does multiple attempts is that it seems to take a while for APFS volumes

[2019-02-10 05:24] Brantone commented on #28
Yeah, that's the around the part where I'm digging into : why is the resource still busy, or what (if anything) is still going on ... had to take a break, but couple hours later and trying manually:
[code]
So back to digging in "what the what" is causing the hang, pretty sure this is something on my system, but would still be handy if, in a situation like this, `macinbox` would spit out the comman

[2019-02-10 21:14] bacongravy commented on #28
That's surprising that the disk would still be busy after a few hours. The `lsof` tool might reveal if something is holding a file open on the disk.  From the logs you posted, you'd be looking for something open under the scratch_mountpoint directory, e.g. :

[code]

[2019-02-10 23:11] Brantone commented on #28
Surprisingly :
[code]
Hence
[code]

And this is even with having `/private/var/folders` in the "Privacy" tab in System Preferences  > Spotlight.
No idea why `mds` is deciding to start searching it.

Can do `eject` even though `detach` errors out ... wondering of drawbacks to bypassing `detach` and going straight to `eject`.

[2019-02-10 23:23] bacongravy commented on #28
Thanks, @Brantone. The man page for `hdiutil` says:

Which `eject` did you use?  I'm willing to test out changing away from `hdiutil detach` if there's something else that works better for you and equally as well for me.

[2019-02-10 23:34] bacongravy commented on #24
The user script you want would look something like:

[code]

To determine what values you need to insert into the KextPolicy database, first install the kexts on a running system and permit them to be loaded, and then run this command:

[code]

[2019-02-11 01:26] Brantone commented on #28
Currently still debating if `eject` is best option.
Also wondering `detach` was preferred in the first place? Ex: why not just use the `detach!` method all the time since it has `detach -quiet -force` and doesn't care for exit status?
https://github.com/bacongravy/macinbox/blob/b0bb3eed79e4b87427e8a6b17c259c88cde392dc/lib/macinbox/virtual_disk.rb#L89

[2019-02-11 02:04] bacongravy commented on #28
I worry that doing a `detach!` immediately after the install would result in a corrupted filesystem.  For some reason the device usually stays busy for about 20 seconds after the install completes.

[2019-02-11 02:53] Brantone commented on #28
Later on tonight I can submit a PR the experiment I tested and can go from there.
I did get it to successfully create a Vagrant box, but it still failed on clean up:
[code]
Doing `lsof` showed all the files in those subdirs are still open, so something is holding onto them. If no one else has run into it, will just chalk it up to something unique in my dev environment.

[2019-02-11 03:03] bacongravy commented on #28
My own experiments with `eject` seem successful, the first `diskutil eject` after the install fails, but then the second attempt after waiting 15 seconds succeeds. I'm working on getting that merged, hopefully it helps with your situation.

The temporary files are intentionally not removed when you pass the `--debug` option, but all of the mounted disk images are supposed to be properly unmounted

[2019-02-11 04:35] bacongravy commented on #28
I've pushed up https://github.com/bacongravy/macinbox/commit/48885116374f7042be397e056db8759f9f43deba which replaces `hditutil detach` with `diskutil eject`. Hopefully that helps!

[2019-02-11 04:42] bacongravy commented on #28
I've also pushed up https://github.com/bacongravy/macinbox/commit/5f78830ff2a5a1d70441e5d6b279c980b74621d3 which adds a `--verbose` flag which prints out the commands that are run, but unlike `--debug` doesn't leave behind the temporary directories.

[2019-02-11 04:45] bacongravy commented on #24
I've merged the PR to master: https://github.com/bacongravy/macinbox/commit/bcc8f9fbbe6ab6cb478bf44905779d16db4e5859

[2019-02-12 00:56] egandro commented on #26
This looks even better :)

https://github.com/josenk/vagrant-vmware-esxi

[2019-02-12 11:21] egandro commented on #26
I am closing this.

the vagrand-vmware-esxi works perfect.

It seams that we need a way to ad a specific darwin iso.

[2019-02-12 11:21] #26 closed

[2019-02-12 23:55] Brantone commented on #28
Fwiw, this was the minor tweak I made just to get the ball rolling again:
https://github.com/bacongravy/macinbox/compare/master...Brantone:master#diff-3688c8c5986e67f0e2ce0b1c0a426c3e
Still no idea why those folders are open / in use, thus the `rm -rf` fails with error as expected. The box still does get created, so not as concerned about it.
[code]

[2019-02-13 20:29] egandro opened #29 "Small issue with --user-script"
The user script will run before the

"Setting the KextPolicy to allow loading the VMware kernel extensions..."

So I can't set my own stuff to

{@image_mountpoint}/private/var/db/SystemPolicyConfiguration/KextPolicy

Since this will be always  overwritten.

Can you please add a "Skipting KextPolicy because file already exists"?

[2019-02-13 20:42] bacongravy commented on #29
Oh!  That’s unfortunate. I’m sorry I didn’t take that into account.

I can definitely split the KextPolicy code up into one piece that creates the file, if necessary, and another that inserts the values.

I will also consider moving the user script execution to happen after the customizations for VMware get laid down.

[2019-02-13 22:45] egandro commented on #29
I suggest splitting you code in parts:

1) Create the SQL File if it does not exist but without inserts

2)Always to this Insert / Replaces Statements

[code]

[2019-02-14 01:57] egandro opened #30 "Idea for Kickstart fix"
This worked until 10.14

```sudo /System/Library/CoreServices/RemoteManagement/ARDAgent.app/Contents/Resources/kickstart -activate -configure -access -off -restart -agent -privs -all -allowAccessFor -allUsers```

Apple broke it:

`Warning: macos 10.14 and later only allows control if Screen Sharing is enabled through System Preferences.`

Any idea how to fix this with one of our pre-scripts?

[2019-02-14 02:19] egandro commented on #30
Ok I found it: https://support.apple.com/en-en/HT209161

But I have no idea how to translate this into a start script.

[2019-02-14 04:25] bacongravy commented on #29
I've implemented that here:

https://github.com/bacongravy/macinbox/compare/bcc8f9fbbe6ab6cb478bf44905779d16db4e5859..bff9b52a1df5e5d5c17e51c4de6c4e6e002ecbe0

Please let me know if that resolves the issue for you.

[2019-02-14 04:27] bacongravy commented on #30
Do you need ARD in particular or just VNC in general?

[2019-02-14 08:33] egandro commented on #30
Both would be cool.

I would prefere the Config as Json file, since this has 10+ buttons.

[2019-02-14 08:37] egandro commented on #30
Maybe
Maybe 2 short cuts

- --enable-vnc (do the most compatible thing with the same vagrant passwort)
- --vnc-rw-password (specify a rw password)
- --ard-config-file
- --vnc-config-file ? duno if this is neccesarray

[2019-02-14 10:36] egandro commented on #29
Thanks a lot!

I will test this today.

[2019-02-14 11:25] egandro commented on #29
Btw. can you please check for the return code of the script?

If the result is != 0 fail stop the execution of macinbox.

[2019-02-14 22:26] bacongravy commented on #30
You could try adding this to your user script:

[code]

If you confirm that that still works in Mojave I could add an `--enable-screen-sharing` option that did that for you.

[2019-02-14 23:16] egandro commented on #30
I'll try this :) I love scripted VMs :)))

[2019-02-15 00:34] egandro opened #32 "Feature request: find out how to csrutil disable"
--csr-disable would be so awesome

I only found this: https://www.imore.com/how-turn-system-integrity-protection-macos

But maybe there is a OSX'ish chroot?

[2019-02-15 00:35] egandro commented on #32
There is a jail equivalent:

http://galvanist.com/post/56925855686/chroot-jails-on-os-x

[2019-02-15 00:44] egandro commented on #32
Yes there is BSD chroot. So we might have a chance.

[2019-02-15 03:50] bacongravy commented on #32
Duplicate of #4.

[2019-02-15 03:50] #32 closed

[2019-02-15 13:36] egandro commented on #29
We can no debug user scripts :)

Check my pull request.

[2019-02-15 16:08] bacongravy commented on #29
Thanks!  I’m away from my computer this weekend but I’ll see about getting your sample scripts merged in after that.

It should already be the case that when a user-script exits non-zero it fails the process, are you seeing different behavior?

[2019-02-15 20:02] egandro commented on #30
I can confirm this works.

[2019-02-15 23:54] egandro commented on #30
Well - there is a problem :(

I have no idea how to fix this. I fooled around for a view days.

'Add :com.apple.screensharing bool False'

This will enable the screen sharing. However I can only connect via closed source VNC tools, since no open source tool offers the apple authentication protocols.

I like to do some extra provisioning using vncdotool (https://github.com/sibson/vncdotool) - but t

[2019-02-16 05:34] bacongravy commented on #30
You could try running your own VNC server, for example https://github.com/TigerVNC/tigervnc.

I suspect that you’re going to have an easier time if you do this kind of setup in a vagrant provisioning step, after the box boots for the first time, rather than in a macinbox user script.

Or, you could  try taking advantage of the VNC sever built into VMware/esxi: https://www.virtuallyghetto.com/2012/

[2019-02-18 00:13] egandro commented on #30
Well :( I have a solution.

This is so sick.

I connect to VMWare Fusion VNC - and run a Vncdotool in a Shell script & OCR via https://github.com/tesseract-ocr/tesseract

Apple decided to go with random Y values. The X are always the same...

After two days a macinbox Mac can create a macinbox mac...

"Security" the Apple way :(

Why didn't they chose to implement their own remote framebuffer prot

[2019-02-21 23:16] bacongravy commented on #25
See PR #33 for a workaround.

[2019-02-21 23:19] bacongravy commented on #30
Wow, that sounds like a hassle!  I'm glad you were able to find a solution.

I will close this issue now, but if someone else wants to make the case for needing a `--enable-screen-sharing`, I'm open to hearing it!

[2019-02-21 23:19] #30 closed

[2019-02-27 05:09] bacongravy commented on #25
Fixed with https://github.com/bacongravy/macinbox/commit/2cf934208bee948532ce69542b25735918a79093.

[2019-02-27 05:36] bacongravy commented on #24
Tagged and released: https://github.com/bacongravy/macinbox/tree/v3.3.0

[2019-02-27 05:36] #24 closed

[2019-02-27 05:36] bacongravy commented on #25
Tagged and released: https://github.com/bacongravy/macinbox/tree/v3.3.0

[2019-02-27 05:36] #25 closed

[2019-02-27 05:36] bacongravy commented on #28
Tagged and released: https://github.com/bacongravy/macinbox/tree/v3.3.0

[2019-02-27 05:36] #28 closed

[2019-02-27 05:37] bacongravy commented on #29
Tagged and released: https://github.com/bacongravy/macinbox/tree/v3.3.0

[2019-02-27 05:37] #29 closed

[2019-03-28 04:10] epackorigan commented on #12
@yeahdongcn - any progress on your end about a fix in fusion?

[2019-03-31 18:55] ChefAustin opened #35 "Linting against, and introduction of, Rubocop Style Guide"
Hi @bacongravy! Big fan of the project, so thanks for that.

I was curious if you would entertain a PR which would fairly drastically change the Ruby style written into the code to abide by Rubocop's 2.6.0 standards? There are ~1100 "violations" in its current state. I have already started working on a style update branch on my fork (down to ~600 "violations"), and would be happy to PR it over her

[2019-03-31 19:26] bacongravy commented on #35
Hi! I’ll take a look if you want to point me at the branch.  What advantage does adopting the rubocop 2.6.0 style bring this project? Does it make the code easier to understand?

[2019-03-31 21:34] ChefAustin commented on #35
To give you an idea of some of the new style restrictions/changes that would be imposed upon the project by such a PR:
- Max line length would be 80 characters
- Unless needed string interpolation is needed, single quotes are favored
- Method, class blocks are restricted to a defined number of lines
- Among many other things

I think such a PR is a somewhat contentious topic, as style is arguably

[2019-03-31 21:38] ChefAustin commented on #35
Additionally, here is a gist containing the output of an initial pass over `macinbox`'s `master` branch:
https://gist.github.com/ChefAustin/088e684d42af05de436f79145716c028

[2019-04-03 02:50] yeahdongcn commented on #12
This issue has been marked as fixed internally. We will create a PR once a new version of Fusion which contains the fix gets released.

[2019-04-03 17:50] bacongravy commented on #35
Thanks.  I don't have an objection to adding rubocop support, but it also doesn't seem very critical at this point.  This project doesn't get many code contributions, so its not a big burden to bring contributions in line with my personal style.

I did review your forked branch and, in my opinion, I think many of those changes make the code less readable.  My take on linting tools is that they are

[2019-04-03 17:55] bacongravy commented on #35
Some of the changes are obviously good or neutral; I don't object to using single-quoted strings when double-quoted aren't needed, or to swapping in ruby idioms like `foo: 1` instead of `:foo => 1`, or using `File.exist?` instead of `File.exists?`.

[2019-04-04 15:22] ChefAustin commented on #35
100% agree that this is not critical, and that by implementing such linting tasks might introduce some compromises to your personal style. That being said, I do think there is a middle ground that can be discovered (i.e. some of the acceptable changes you mentioned like single v. double quotes, key-value pair assignment within hashes, etc.).

This all being said, I'll incrementally PR _some_ chang

[2019-04-29 18:59] rickmark commented on #12
Woot

Thank you @yeahdongcn for the update

[2019-05-14 22:53] yeahdongcn commented on #12
Fusion 11.1.0 is ready (https://my.vmware.com/cn/web/vmware/details?downloadGroup=FUS-1110&productId=798&rPId=33757)
Please @bacongravy help to review https://github.com/bacongravy/macinbox/pull/36, thanks.

[2019-05-15 03:07] bacongravy commented on #12
Thank you @yeahdongcn, I'm looking now.

[2019-05-15 05:06] bacongravy commented on #12
After making some [changes](https://github.com/bacongravy/macinbox/commit/c4e4e327e58b6145c148e434d2bff3622f07f5ac) to eliminate the dependency on `vmware-rawdiskCreator`, I have confirmed that `macinbox` works with VMware Fusion 11.1.0, when the application is running.  When it is not running, the following error is returned:

[code]

The solution provided in #36 is to have `macinbox` silently in

[2019-05-15 05:49] epackorigan commented on #12
It's not ideal to have to install/run those helpers (by hand or otherwise -- I totally share your concerns). We have 2 fallbacks (qemu, and install fusion 10 and 11 in parallel). We're hoping to get this running as part of some automation in the near future, so having to run fusion ahead of time might not be feasible (either from macinbox or otherwise), since we might be running on a machine where

[2019-05-30 12:35] egandro commented on #12
I suggest a simple solution: an enviornment variable.

Vagrant uses this a lot - for example:

export VAGRANT_WSL_ENABLE_WINDOWS_ACCESS='1'

I have to use this when using vagrant in a Windows Subsystem for Linux - which I use a lot as developer. I have to put this variable - it protects stupid people doing stupid things.

Just "detect" the problem, show some docs where the user can read more, and

[2019-05-30 13:06] egandro commented on #4
I found this:

https://www.tekrevue.com/tip/mac-vm-boot-recovery-mode-vmware-fusion/

[code]

Boots the VM in OSX Recovery Mode. This opens the door to an elevated terminal.

[2019-05-30 16:37] egandro commented on #4
So this works. OSX gets into Recovery.

I have a theory - this might be the offset in the nvram that needs to be patched:

[code]

The other part I found is about the boot loader.

[2019-06-05 16:36] rickmark commented on #12
Rather then modifying the system in this way (who knows the surface area impact), can't we just ask that fusion be running, and check that it is at the beginning of the process?

[2019-06-05 19:35] bacongravy commented on #12
@rickmark yes, I think that sounds good.  My plan is to have the tool check for the necessary running services, and to warn if they aren’t running, and provide the link to the KB article describing how to run them yourself.  I’m reluctant to make it an upfront error since the issue doesn’t occur with all versions of Fusion.

[2019-06-07 03:03] mmannerm opened #37 "vagrant group missing from box"
The `vagrant` user group is missing from the vagrant box, which makes using e.g. `rsync` synced folders require some work before you can make them work, as vagrant assumes both the user and user group are present in the box.

[code]

[2019-06-07 03:05] mmannerm commented on #37
A workaround now is to add `rsync__chown: false` to the `c.vm.synced_folder` parameters, but it will not make the synced files to be owned by vagrant user.

[2019-06-07 14:15] bacongravy commented on #37
@mmannerm Thanks for reporting this issue. I’ve always wondered why other tools for creating vagrant boxes also created the `vagrant` group in addition to the user.

There is already a script installed by `macinbox` on the box that runs on first boot and waits for the `vagrant` user to be created, so I believe it should be possible to update that script to create the group and put the user in it,

[2019-06-07 17:14] egandro opened #38 "Support - macOS 10.15 Catalina installer"
I will do a go/nogo installation with this

[2019-06-07 19:41] egandro commented on #38
Iso won't boot in Vmware...

[2019-06-07 21:58] milch commented on #38
I tried the installation with the following options:

[code]

Got this log output:

[code]

[2019-06-08 09:26] egandro commented on #38
I tried just the ISO not via macinbox.

At this point the VM didn't start, yet - just the Installer was called to write the content to a disk.

So could be the same issue.  So VMWare needs to solve this :)

[2019-06-10 23:00] KirkMartinez commented on #4
I have this need as well.  Happy to test out any proposed implementations.

[2019-06-11 19:12] egandro opened #39 "How to disable the screensaver?"
Any (working) solution on how to disable the screensaver?

I only have a (very very) crude hack by a userscript.sh:

[code]

[2019-06-14 17:47] egandro commented on #4
I put a few more hours in this investigating what the "magic bits" are in the NVRAM.

1. I created a fresh OSX install - backuped the nvram
2. I bootet into recovery (using the .vmx line for forcing the recovery mode) - i backuped the nvram
3. I csr'ed via recovery terminal - and i backuped the nvram

Binary diffing 1/2/3 lead to no insigth. I used diff + xxd (from vim - to create a hexdump)

So m

[2019-06-16 19:06] NikolausDemmel opened #40 "On Mojave host, create boxes for previous macOS versions"
On a Mojave host, I can successfully create Mojave boxes, but it fails for older versions at different stages. Below are the errors I get for High Sierra and Sierra. Is this expected to work, or indeed working for anyone? I'd like to create VMs of older versions for running continuous integration on multiple macOS versions.

**High Sierra:**

[code]

**Sierra:**

[code]

[2019-06-19 06:50] tschoonj opened #41 "macinbox stuck on Creating dynamic image"
Trying to create a High Sierra image with the following command, leads to `macinbox` getting stuck at Creating dynamic image (already 15 hours...):

[code]

Any thoughts?

[2019-06-19 18:51] bacongravy commented on #41
Hello, @tschoonj !  Thank you for this report.  I have not seen this hang myself.  The conversion usually only takes minutes, not hours.

A few questions... does this reproduce if you try again with the `--verbose` flag?    And what versions of `macinbox` and VirtualBox are you using? Thanks!

[2019-06-19 19:00] bacongravy commented on #40
Hello, @NikolausDemmel, and thank you for this report.  I (and others) have recently successfully created High Sierra VMs from Mojave.  The error message you are getting suggests to me that your High Sierra installer app is corrupt (or incomplete).  Likewise with the Sierra logs, it seems like the `installer` tool is exiting without installing anything because it can't find something that it is ex

[2019-06-19 19:09] bacongravy commented on #38
Thanks, @egandro, for looking into this and sharing your findings. I haven't had a chance to dig into Catalina support. I did find this thread which has some workarounds for getting Catalina to work in Fusion:

https://communities.vmware.com/thread/611961

The error that `macinbox` reported:

[code]

...is probably because Catalina changes how the root filesystem works, and it is no longer okay to

[2019-06-19 19:56] NikolausDemmel commented on #40
Thanks for your reply. The installers were downloaded through the app store on another Mac that is still on a previous version of macos, not sure why they might be corrupted.

Just to clarify. Would I be using the final disk image they installinstallmacos.py creates, oder the installers that it downloads? The readme over there says that the resulting disk image is specific for the hardware where i

[2019-06-19 20:30] bacongravy commented on #40
One thing to look at is their size on disk; if they aren't ~6GB in size, they are missing pieces.

The issue that the README mentions of hardware-specific OS-installer-apps usually only comes up when you're using hardware that was released after the first version of the OS you're trying to install. The hardware I use to test is older than Sierra, so it may be that I haven't seen this issue for tha

[2019-06-19 20:33] bacongravy commented on #40
So, to clarify, try using  `installinstallmacos.py` to download/assemble the `dmg` on the host macmini, and then use the `macinbox --installer-dmg` option to use that `dmg` to create the Vagrant box.

[2019-06-20 06:51] tschoonj commented on #41
Hi @bacongravy,

I have to correct my earlier post: it's not actually stuck, it's just that writing the vdi file is extremely slow (like < 1 MB/s).

I am using the latest version of `macinbox` and VirtualBox (6.0.8).

[2019-06-21 23:46] bacongravy commented on #38
I have reproduced this issue.  The following directories do not exist on the volume created by the Catalina installer:

[code]

The script fails when it tries to write files to these locations.

[2019-06-25 06:07] epackorigan commented on #38
There appears to be "templates" for a lot of the files around this path, inside the image:
`/System/Library/Templates/Data`

[2019-06-25 17:43] egandro commented on #38
Someone managed to get this working with VMWare:

macOS 10.15 Catalina Installer (Beta 1 19A471t)

[2019-06-25 20:36] egandro commented on #39
Ok I have a solution. We should consider adding this to macinbox (by running it in a chroot envirorment).

OSX has profiles support - so it allows us to tweak system settings.

For the screensaver i found out so far:

1) Download this file: https://github.com/rodchristiansen/Profiles/blob/master/Kiosk/DisableScreenSaver.mobileconfig

2) Download this file: https://github.com/vmiller/profiles/blob/

[2019-06-27 04:27] bacongravy commented on #38
I hacked on `macinbox` to add a `/System/Library/Templates/Data` prefix to all the relevant paths and was able to create a box, but when I boot the box with VMware it gets about 80% through the startup progress bar and then the VM spontaneously powers off.  I tried booting verbosely but didn't see any relevant messages before the VM stopped.

[2019-06-27 06:59] tschoonj commented on #41
This eventually worked, but had to wait a couple of days before the image had been converted.

Thanks!

[2019-06-27 06:59] #41 closed

[2019-06-27 14:53] egandro commented on #38
We have to figure out how to create / patch a specific nvram file :( This issue can be solved with a -v boot arg parameter.

[2019-06-30 18:45] adamwolf commented on #38
I think we can borrow some things from here! https://github.com/AlexanderWillner/runMacOSinVirtualBox

[2019-07-08 21:45] bacongravy commented on #38
@adamwolf Contributions are welcome!  However, I'm not sure what we can borrow from that project that I haven't already. The difficultly here isn't in getting macOS to boot in a VM, but in getting that VM automatically configured to be a valid `vagrant` box.

The `macinbox` tool is somewhat unique in that it attempts to perform the installation of the OS on the host, rather than inside of a VM.  I

[2019-07-18 13:24] JonHolman commented on #4
Is there a way I can boot my macinbox virtualbox VM into recovery mode?  I want to disable SIP to test some things.  I see the line above, but I'm not sure where to put that.

[2019-07-18 23:42] bacongravy commented on #4
@JonHolman Some quick googling indicates that there are a couple of methods that may work to get you into recovery mode with Virtualbox, but I don't have experience with them and can't comment on whether they would be effective.

The `macosguest.forceRecoveryModeInstall = "TRUE"` setting is for VMware Fusion, not Virtualbox, but I also haven't tested that method, either.

[2019-07-19 14:07] JonHolman commented on #4
@bacongravy thanks.  I'm not sure how to trigger booting into recovery mode with virtualbox, but I ended up creating a Mojave ISO and booted to that and was able to do what I wanted.

[2019-07-19 19:45] egandro commented on #4
This works - however - after doing that you can't get the system to boot into non recovery mode... Maybe I am to stupid.

[2019-08-27 17:29] egandro commented on #38
Someone tried a new beta?

[2019-08-30 13:21] egandro commented on #38
I got Beta7 booting with this "trick":

https://communities.vmware.com/thread/611961

But the installed OS still does not boot :(

[2019-09-17 16:17] egandro commented on #38
Officially announced: https://blogs.vmware.com/teamfusion/2019/08/vmworld-2019-fusion-and-workstation-announcements.html

Fusion 11.5 comes with macOS 10.15 Catalina

I guess we have to wait for a few weeks...

[2019-09-20 19:46] egandro commented on #38
Fusion 11.5 is out now!

https://blogs.vmware.com/teamfusion/2019/09/vmware-fusion-11-5-available-now.html

[2019-09-23 19:54] bacongravy commented on #38
Thanks, @egandro ! I haven't had a chance to try the new Fusion yet, or the latest Catalina, but I will soon.

I did see that AutoDMG needed to make a change for Catalina: https://github.com/MagerValp/AutoDMG/commit/c55bbcfbc27683e9cdd60cc8989f14dd73b9e6cc

...which looks like it addresses: https://github.com/MagerValp/AutoDMG/issues/234

[2019-09-28 15:49] egandro commented on #12
This is still an issue with 11.5 :(

[2019-10-02 20:16] bacongravy commented on #38
I did some more testing with the latest Catalina and Fusion using a Mojave host.  I can install and run Catalina in Fusion if I create the VM using Fusion from the Catalina installer app.  However, if I create a box with a hacked (that is, with paths prefixed with `/System/Library/Templates/Data`) version of `macinbox` it powers off part way through booting in Fusion.  According to the logs it see

[2019-10-06 00:07] bacongravy commented on #38
I tested with Catalina 19A582a as both the host and installer version, and `macinbox` mostly works as-is. The box is created and boots fine, but the VMware guest kernel extensions don't get loaded properly.

[2019-10-06 16:12] bacongravy opened #43 "Error creating Parallels box due to missing Parallels Tools Audio 10.9.pkg"
With Parallels Desktop 15.0.0, the tools image no longer includes the `Parallels Tools Audio 10.9.pkg` package.  This causes `macinbox` to fail with this error:

[code]

[2019-10-06 17:18] #43 closed

[2019-10-06 19:48] bacongravy commented on #38
I was able to boot Catalina with Parallels and VirtualBox, too, using an unmodified `macinbox` to create the boxes from a Catalina host.

I then recreated a VMWare box and it started hanging at the end of the boot process.  My suspicion is that the broken VMWare tools kernel extensions were somehow blocking the boot process.  (I don't know why sometimes they are reported as broken after booting, w

[2019-10-06 20:18] bacongravy commented on #38
I am also observing that the HiDPI setting is not preserved when vagrant brings up the VMWare box.  When you try to bring up a VMWare box and then inspect the virtual machine with VMWare Fusion the HiDPI setting is not enabled.  The setting appears properly in the original VMX file in the box, but the cloned VMX file has the setting lowercased, and it is not respected.  If you power off the VM and

[2019-10-06 21:05] bacongravy opened #44 "VMWare Fusion 11.5 ignores HiDPI setting in VMX file"
With VMWare Fusion 11.5 the `gui.fitguestusingnativedisplayresolution` setting in VMX files is getting ignored.  It appears that v11.5 is case-sensitive for this setting, whereas previous versions of Fusion were case-insensitive.

With Fusion 11.5, the setting must be capitalized like this to have an effect:

    gui.fitGuestUsingNativeDisplayResolution = "TRUE"

Unfortunately, `vagrant`'s long-st

[2019-10-06 21:08] bacongravy commented on #44
This was working fine with VMWare Fusion 11.1.0. I don't think this is something I can address in `macinbox`. Does somebody have a support contract with VMWare that they want to use to report this regression?

[2019-10-06 21:11] bacongravy commented on #38
Confirmed, the HiDPI issue does not occur with 11.1.0. I have filed #44 to track the issue.

[2019-10-06 21:17] bacongravy commented on #38
Here's my current thinking for how to resolve this issue:

* Prevent pre-Catalina hosts from attempting to create a Catalina-or-later box
* Don't install the VMWare tools into Catalina-or-later guests
* Set the virtualHW and guestOS values in the VMX based on the installer OS version

[2019-10-06 21:39] bacongravy commented on #12
Here's my current thinking for how to resolve this issue:

* Print a warning when `macinbox` starts up if the box format is set to `vmware_desktop`, `--use-qemu` hasn't been specified, and VMware is not running.
* Print a more explanatory error if vmware-vdiskmanager fails to convert the image due to the XPC service not running.  Include a link to the KB article describing how to run the services.

[2019-10-07 07:12] bacongravy commented on #37
I've fixed this with https://github.com/bacongravy/macinbox/commit/b21dc786bfadd37f6988e22920c1d797f2a780a8. It will be in the upcoming v3.4.0 release.

[2019-10-07 07:13] bacongravy commented on #12
I've addressed this with https://github.com/bacongravy/macinbox/commit/26a80deddd5f9ccc7920719d0457583b1cd4cfcd. It will be in the upcoming v3.4.0 release.

[2019-10-07 07:15] bacongravy commented on #38
It also turns out the Catalina hosts cannot create Mojave (or earlier) boxes, so we'll need to prevent that, too.

[2019-10-07 07:20] bacongravy commented on #38
I've begun to address this on a [catalina](https://github.com/bacongravy/macinbox/compare/master...catalina) branch. I'm targeting this for the v4.0.0 milestone.

[2019-10-23 04:21] yeahdongcn commented on #44
I have reported this internally and the team is looking into this right now.

[2019-11-13 00:44] yeahdongcn commented on #44
This issue is resolved in the newly released VMware Fusion 11.5.1. Please verify and close it. Thanks.

[2019-11-13 03:45] bacongravy opened #45 "VMware Tools not installed properly in Catalina box"
Running `macinbox` on Catalina successfully creates a Vagrant box in `vmware_desktop` format but when the box boots up the OS reports an error loading the VMware Tools kernel extension. Besides the error message, the failure to load the kernel extension results in the screen resolution being stuck at 1024x768, and shared folders not working.

Using VMware Fusion's menu command *Virtual Machine > R

[2019-11-13 03:47] bacongravy commented on #44
Verified with VMware Fusion 11.5.1 on Catalina. Fixed! Thank you @yeahdongcn for the quick turnaround!

[2019-11-13 03:47] #44 closed

[2019-11-13 04:43] bacongravy commented on #12
v3.4.0 has been released. Closing.

[2019-11-13 04:43] #12 closed

[2019-11-13 04:44] bacongravy commented on #37
v3.4.0 has been released. Closing.

[2019-11-13 04:44] #37 closed

[2019-11-13 06:04] bacongravy commented on #38
I have addressed this with https://github.com/bacongravy/macinbox/commit/019c999bd088b3ced0c15a19ec5f06dcca11a8d9.

[2019-11-13 06:05] bacongravy commented on #38
v4.0.0 has been released. Closing.

[2019-11-13 06:05] #38 closed

[2019-11-13 11:21] StefanScherer commented on #45
I just learned about this tool. Thank you @bacongravy for the hard work. I really appreciate that there is a tool to create newer macOS Vagrant boxes.

I just built a Mojave 10.14.6 box and VMware tools also aren't installed correctly. This message appears in the VM after a `vagrant up`:

<img width="635" alt="Bildschirmfoto 2019-11-13 um 12 19 33" src="https://user-images.githubusercontent.com/20

[2019-11-13 20:06] bacongravy commented on #45
Hi @StefanScherer thank you for the feedback!  I'm sorry the tool isn't working properly for you. I have successfully created a box from a macOS 10.14.6 installer, but it was with a previous version of VMware Fusion Pro; maybe something about the Tools package has changed.  You could try using VMware Fusion Pro 11.1.1 to see if that makes a difference.  I'd also be curious to know if manually inst

[2019-11-13 21:07] StefanScherer commented on #45
Yes, I could install VMware tools manually again and restarted. Then the box works fine. I tar‘ed that to a new box file and tested it on a second machine.

I‘ll keep my one MBP on Mojave for a while (until the updater tricks me when I click the wrong button in a hurry).

I‘ve update Fusion just today. But, when I find some time I can downgrade to do some testing.

It‘s always this magic triangle

[2019-11-13 21:10] egandro commented on #45
I know about this "bug" but was to lazy to fix it:

Check this:

- https://github.com/bacongravy/macinbox/blob/46939cda43fbf7902759bf46cc8ee7426e608dd0/lib/macinbox/actions/create_vmdk_from_image.rb

We do some inserts to a mysql DB in order to whitelist the kext a priori to the native boot (during the installation).

This needs to be enhanced for Vmware Fusion 11.5 (it's only done for 11.0).

So

[2019-11-14 18:14] bacongravy commented on #45
@egandro Thanks for the tip.  I'll take a look at what the new values should be, unless you happen to know them offhand?  And the values for VBox?

[2019-11-30 13:30] mtbvang opened #46 "The link to the Catalina installer said that it didn't exist in the App Store."
The link in the readme to download the Catalina installer didn't work. This one from the Mac website did.
https://apps.apple.com/us/app/macos-catalina/id1466841314?ls=1&mt=12

[2020-01-29 20:50] adamwolf opened #47 "Virtualbox 6.1.3 fails to boot Catalina 10.15.2"
Hi folks!  Thanks for this amazing tool!

I am running macOS 10.15.2, and have installed macinbox, Virtualbox and Vagrant.

I ran `sudo macinbox --box-format virtualbox`, and it appears to have succeeded. I then created a tmp directory, went into it, and `vagrant init macinbox`, and virtualbox starts up.  I eventually get to a EFI text screen that ends in Found fs2:\System\Library\CoreServices\boo

[2020-01-29 21:45] strega-nil opened #48 "'invalid byte sequence in US-ASCII'"
When attempting to create a virtualbox mac box, for Catalina, from Catalina, the following issue occurs:

[code]

When I set `LANGUAGE = LC_ALL = LANG = 'en_US.UTF-8'`, then the process succeeds; is there a way to make sure it always runs in utf-8 mode?

[2020-01-29 21:49] bacongravy commented on #47
Hi @adamwolf, thank you for writing this up. This looks similar to the issue reported here: https://github.com/AlexanderWillner/runMacOSinVirtualBox/issues/95

...which may in fact be in a bug in Virtualbox:
https://www.virtualbox.org/ticket/19188

The stated workaround, of using a previous OS version's boot.efi, is not really viable for `macinbox`.  I think best path forward right now if you want

[2020-01-29 21:55] adamwolf commented on #47
Wow!  What a fast response!

Is there a way for me to build a 10.15.1 base while being on 10.15.2?

[2020-01-29 21:59] Korop commented on #47
The same issue with 10.15.3 just has checked the macinbox with it.

[2020-01-29 23:50] bacongravy commented on #47
Yes, you can build a 10.15.1 box while being on 10.15.2.  You just need a copy of the 10.15.1 installer someplace.  You can use the `--installer` or `--installer-dmg` options to override which installer is used as the source.  You might be able to use [installinstallmacos.py](https://github.com/munki/macadmin-scripts/blob/master/installinstallmacos.py) to download a 10.15.1 installer if you don't

[2020-01-30 00:25] bacongravy commented on #48
Hello @strega-nil, thank you for reporting this issue.  My LANG is usually set to `en_US.UTF-8` and probably explains why I've never seen this before.

It should be straightforward to override the LANG in the `macinbox` process to always be UTF8. I'll work on reproducing this issue and then identify a fix.

[2020-01-30 01:22] adamwolf commented on #47
Thanks! I can't find any way, from softwareupdate --fetch-full-installer to installinstallmacos.py or even just google, to download 10.15.1 or 10.15.0 anymore.

This is going to be trickier than I thought.

[2020-01-30 07:18] jaanus commented on #47
@bacongravy can you confirm that this is specific to Virtualbox, and that you have seen 10.15.2 working in Parallels?

[2020-01-30 20:02] bacongravy commented on #47
@jaanus I have not personally confirmed that Parallels or VMware Fusion work with 10.15.2 or 10.15.3, but I also have not heard any reports about those failing, either.

I should be able to confirm that this issue does not impact Parallels later today.

[2020-01-30 20:08] bacongravy commented on #47
@adamwolf If you're willing to use a box that someone else built, check out this project: https://app.vagrantup.com/ramsey/boxes/macos-catalina

I haven't tried myself, but from reading the documentation it looks like you could get a Virtualbox-format box with macOS 10.15.1 from Vagrant Cloud.  I can't vouch for the contents of the box, though. Use at your own risk!

[2020-01-30 20:42] adamwolf commented on #47
I have been able to find a 10.15 install DMG from a university tech support
FTP.  *sob sob*

On Thu, Jan 30, 2020 at 2:08 PM David Kramer <notifications@github.com>
wrote:

[2020-01-31 01:43] bacongravy commented on #47
I was able to use `macinbox` to generate a VMware Fusion box from the 10.15.3 installer and the box boots successfully.

[2020-01-31 03:03] bacongravy commented on #47
I was also able to use `macinbox` to generate a Parallels box from the 10.15.3 installer and the box boots successfully with Parallels Desktop 15.0.0.

HOWEVER, if I use Parallels Desktop 15.1.2 to create the box, then the created box fails to boot.  (15.1.2 can boot the box created by 15.0.0.)  It appears that the `prl_convert` tool is producing an unbootable hdd with version 15.1.2. This is an e

[2020-01-31 05:28] strega-nil commented on #48
Thanks @bacongravy ![bitmoji](https://render.bitstrips.com/v2/cpanel/b60cb965-cc0a-4365-8d1f-8d56e9255948-f7a94234-98bc-47eb-a110-f736943d3a3c-v1.png?transparent=1&palette=1&width=246)

[2020-02-25 11:49] schrodincat commented on #47
@bacongravy can confirm the box made with Parallels Desktop 15.1.2 doesn’t start

[2020-02-25 18:31] DanielWright commented on #47
The bug in VirtualBox appears to have been fixed in the 6.1.4 release. I'm able to run macOS 10.15.3 boxes without issue.

[2020-02-25 19:21] bacongravy opened #49 "Box created with Parallels Desktop 15.1.2 fails to boot"
As discovered while investigating #47, if I use Parallels Desktop 15.1.2 to create a box, then the created box fails to boot. When Parallels Desktop 15.0.0 is used to generate the box then it works fine.  The 15.0.0-created box boots fine with 15.1.2, so I suspect that the problem is that the 15.1.2 version of prl_convert tool is behaving differently and producing an unbootable hdd.

[2020-02-25 19:23] bacongravy commented on #47
@schrodincat The issue with Parallels Desktop issue have been filed as #49. Thanks for the confirmation.

Since the issue with VirtualBox has been fixed with the 6.1.4 release I am going to close this issue.

[2020-02-25 19:23] #47 closed

[2020-03-20 08:54] schrodincat commented on #49
The issue seems to be fixed in Parallels Desktop 15.1.3. I’ve successfully created and launched a box with it.

[2020-03-20 22:46] bacongravy commented on #49
@schrodincat Thank you for the update! I just confirmed as well, Parallels Desktop 15.1.3 (47255) and macOS Catalina 10.15.3 (19D76) work together to produce a bootable 10.15.3 box.

[2020-03-20 22:46] #49 closed

[2020-03-21 01:05] #46 closed

[2020-03-21 01:06] bacongravy commented on #46
Thank you @mtbvang !

[2020-03-21 01:23] bacongravy commented on #48
I haven't been able to reproduce this issue, so I'm not sure if the change I had in mind fixes it.  I was able to create a Terminal profile with the language set to "Western (ASCII)" which resulted in me having LANG=en_US.US-ASCII, but `macinbox` didn't fail when I ran it.

[2020-03-21 01:24] bacongravy commented on #48
My idea was to put `ENV['LANG'] = 'en_US.UTF-8'` in `cli.rb` near the top of the `start` method.

[2020-03-30 17:00] frankosterfeld opened #50 "ENOENT errors when creating files"
With many files the create_image_from_installer.rb script creates, I get errors such as

Errno::ENOENT: No such file or directory @ rb_sysopen - /var/folders/zz/zyxvpxvq6csfxvn_n0000000000000/T/create_image_from_installer.ntCenXvd/scratch_mountpoint/private/etc/sudoers.d/vagrant

It works when I add explicit FileUtils.mkdir_p calls that create the directory before writing the file, like this:

[2020-03-30 17:33] bacongravy commented on #50
@frankosterfeld Thanks for reporting the issue. When I've seen this kind of error in the past it was because the OS install hadn't actually worked properly, so the scratch_mounpoint was empty.  Creating the missing directories (using mkdir_p) would make the step succeed, but I wouldn't expect it to produce a working box.  Are you saying that the resulting vagrant box was bootable after you made th

[2020-03-31 08:41] frankosterfeld commented on #50
Yep, scratch_mountpoint is indeed (almost) empty:

total 0
-rw-r--r--  1 root  wheel  0 31 Mar 10:23 .macinbox

I'm calling

    sudo bundle exec macinbox --no-fullscreen --memory 4096 --disk 256 --name kdab --password kdab --installer /Applications/Install\ macOS\ Catalina.app

[2020-03-31 08:59] frankosterfeld commented on #50
installer seems to be indeed silently failing:

    /usr/sbin/installer -verboseR -dumplog -pkg "/Applications/Install macOS Catalina.app/Contents/SharedSupport/InstallInfo.plist" -target ~/temp/foo

[installer.log](https://github.com/bacongravy/macinbox/files/4407800/installer.log)

[2020-03-31 16:16] bacongravy commented on #50
Thanks for digging deeper, @frankosterfeld. This looks suspect:

My first thought is that maybe your installer app is corrupted somehow. Or it could be that something changed in 10.15.4. I will try to reproduce.

[2020-03-31 19:51] frankosterfeld commented on #50
I deleted and redownloaded the installer app (using "GET" in the app store), I still get the same error.

[2020-04-01 14:43] frankosterfeld commented on #50
I can mount the InstallESD.dmg just fine when doing it manually via `open`.

I wonder if "<Error>: Installer Info install requested but we're not dmg booted" is relevant, as it's the first actual "<Error>".

[2020-04-01 16:06] frankosterfeld commented on #50
D'oh, I think the error above is bogus and a result of me not passing a valid disk image to --target. the actual error is mundane out of disk space error. I'll provide a patch to improve the error handling/output... Sorry for the noise.

[2020-04-01 16:50] frankosterfeld commented on #50
#51 together with --verbose should do the trick here.

[2020-04-01 16:50] #50 closed

[2020-04-07 05:50] bacongravy commented on #50
@frankosterfeld I'm glad you got this figured out, and thank you for the patch!

[2020-04-11 23:12] nycnewman opened #52 "Catalina 10.15.4 issue - machine fails to boot with startup error"
Error message below. WHat other information might you need to debug this?

Bringing machine 'default' up with 'virtualbox' provider...
==> default: Importing base box 'macinbox'...
==> default: Generating MAC address for NAT networking...
==> default: Setting the name of the VM: 2-vagrant-files_default_1586646461190_52216
==> default: Clearing any previously set network interfaces...
==> default:

[2020-04-14 14:52] damacus opened #53 "Software installed with user-script isn't available after boot"
Hey!

thanks for creating this, it's been pretty awesome so far.

I'm using:
- Parallels
- An install-tools.sh script (which is executable) to install homebrew and Chef

I'm checking the software is available using `command -v brew` and it succeeds. However, when doing a vagrant up of the machine, brew isn't actually on the machine 🤔

[2020-04-14 15:04] bacongravy commented on #53
Hi @damacus ! Could you attach your script so I can see what it is doing?

[2020-04-15 14:19] damacus commented on #53
Hey! thanks for the response:

Here's the script:
[code]

[2020-04-15 17:49] bacongravy commented on #53
Ah ha!  The issue here is that the install script runs in the context of the host computer, not the target box. The commands you are running are installing homebrew and chef on the host computer, not into the box.

The location of the box file system is provided as the first argument to the user script.  But you still need to figure out how to tell the homebrew and chef installers to install to a

[2020-04-16 05:08] bacongravy commented on #53
@damacus I looked at [the content of the install.sh script](https://github.com/Homebrew/install/blob/master/install.sh) for Homebrew. I don't know how to replicate the part of the install.sh script that installs the command-line developer tools in a macinbox user script, but here is how I think you would install Homebrew, at least:

[code]

You would still need to run `brew update --force` in the

[2020-04-16 08:09] damacus commented on #53
Ah!

I thought the script would be copied to the box and run. My mistake when reading the docs!

Yep, back to Vagrant package to get this one done. Thanks for your time! I'll report back if parallels works with this. VritualBox was being weirdly buggy with MacOS

[2020-04-16 08:09] #53 closed

[2020-04-16 18:43] adamwolf opened #55 "/vagrant doesn't exist, read-only?"
I created a 10.15.2 box the other day with this tool, and today I tried to setup rsync-based /vagrant sharing like I had with other tools on 10.14 et al.

I have the following in my Vagrantfile.

[code]

At boot, I get

[code]

What's the right approach here? Disable SIP and create it and save?  Should I use synthetic.conf?

[2020-04-16 18:56] adamwolf commented on #55
I think that for NFS, we would want /etc/synthetic to just have
[code]

For rsync, I did this

[code]
and it came up ok.

[2020-04-16 19:12] bacongravy commented on #55
@adamwolf I don’t use a workflow that relies on /vagrant so I haven’t encountered this before.  I believe it might be possible to create /vagrant as part of a macinbox user script that runs during box creation, but I’m not sure that newly created directory would be any more writable than / once the system booted. I don’t know how it would impact raunchy, but another approach to try would be to cre

[2020-04-20 15:50] nycnewman commented on #52
Turns out issue was related to VIrtualBox. 6.1.4 on MacOS 10.15.4 cannot start correctly when 32Gb or greater, or 6 virtual cores or greater allocated to instance.

[2020-04-20 15:50] #52 closed

[2020-04-20 15:53] bacongravy commented on #52
@nycnewman I’m glad you got it figured it out. Thank you for following up in the issue with your findings.

[2020-04-20 21:09] Footpad commented on #45
@bacongravy I created a PR here that allows VMware Tools for Fusion 11.5.3 (not sure about other version support) to load successfully: https://github.com/bacongravy/macinbox/pull/56

[2020-04-21 05:02] bacongravy commented on #45
@Footpad Thank you! I'll take a look now.

[2020-04-21 19:03] bacongravy commented on #45
I have verified that the PR provided by @Footpad resolves this issue.

[2020-04-21 22:41] bacongravy commented on #45
This will be fixed in the v4.1.0 release.

[2020-04-22 01:23] bacongravy commented on #45
This has been released. Closing.

[2020-04-22 01:23] #45 closed

[2020-04-25 18:52] andreiborisov opened #57 "Allow to specify VRAM amount"
In addition to CPU and memory, it would be useful to be able to specify the amount of VRAM, since the default value (at least for Parallels) is quite low.

It should be fairly straightforward to implement, again, for Parallels it would be:

[code]

This would set VRAM to 256 MB.

[2020-04-26 01:25] andreiborisov opened #58 "Allow to set box version"
As far as I understand, macinbox sets box version based on macOS version.

This is a bit inconvenient since the box version and OS version are not the same in general. I propose to change defaults to `1.0.0` or allow to specify the version as a parameter.

[2020-04-26 01:27] bacongravy commented on #57
Hi @schrodincat, thanks for the feature request.  Is it important to you that this setting be configurable? I’m wondering if it might be better to just set it to 256 for all boxes.

[2020-04-26 01:37] andreiborisov commented on #57
Yeah, I think setting it to 256 for all boxes is fine.

However, wouldn’t the appropriate amount be different for different providers (256 is maximum for Parallels currently since they don’t support hardware 3D acceleration)? In that case, it probably would be easier to allow customization (unless you want to set VRAM only for Parallels provider, which is also fine by me🙂).

The only real problem

[2020-05-18 14:45] MTBug opened #59 "the vm(format .pvm) created using macinbox boot more slowly than created using parallels"
this tool largely addresses the time we spent creating the vm, thanks!!!!  I came across，the vm(format .pvm) created using macinbox boot more slowly than  created using parallels，comparing the two configurations (CPU, memory, hard disk) results are the same, but the vm which created using 'macinbox' size is less than the other one, are there any system configuration files that are not pre-installe

[2020-05-18 15:39] bacongravy commented on #59
Hi @MTBug ! Can you tell me more about what you are measuring?  Is it the first start of the VM that is slower, or all starts?  Is anything else slower after startup? And how are you creating the VM with parallels?  Do you manually step through the installer?

One guess I have is that the type of virtual disk might be different between what Parallels makes and what macinbox makes.  You could poten

[2020-05-19 14:16] MTBug commented on #59
ok! in my comparison tests today, the virtual machine created using macinbox was slower to boot, shut down, install and open the software than the virtual machine manually created using parallels
 I also installed “Disk Speed Test” on the two comparison VM, but found no significant differences.  I guess there are two things:
1. The disk read and write speeds created by the two are significantly di

[2020-05-31 17:43] JonHolman opened #60 "Any way to get sound working in VirtualBox VM?"
I've been playing around with it, but I cannot seem to find a way to get sound working from within the virtualbox VM.  Everything else seems to be working no problem.  Does sound work with VMware?

[2020-05-31 18:09] bacongravy commented on #60
@JonHolman I haven’t tested it recently, but yes, it is my recollection that VMware and Parallels both support sound output from the guest macOS VM.

I believe both VMware and Parallels offer free trials, I encourage you to try them out to verify for yourself to see if paying for them is worth it (I think it is!).  In my experience they work much better than VirtualBox.

[2020-05-31 22:17] JonHolman commented on #60
Thanks @bacongravy I’ll give it a try

[2020-05-31 22:17] #60 closed, assigned to nobody

[2020-06-30 15:50] frankosterfeld opened #61 "virtualbox: Mojave box does not boot on 2020 Macbook"
So far I've created Catalina VMs on a Catalina host, and everything works fine. Now I tried to create a Mojave box inside a Mojave VM (manually installed, VMWare Fusion). The VM creation seems to work fine, but when importing the box on the Catalina host and trying run it, it hangs at boot. The last output is

    ...
    Start InitBootStruct

    root device uuid is '396DAA8C-A9B4-4762-98A7-B334C

[2020-06-30 15:53] frankosterfeld commented on #61
The host machine is a MacBook Pro (13-inch, 2020), btw, which might be too new for Mojave, I wonder if there's any CPU/EFI flags etc. passed through by virtualbox that prevent it from booting...

[2020-06-30 16:26] frankosterfeld commented on #61
Actually, the VM works on another (windows...) host! So this might be fixable by explicitly setting one or multiple of "VBoxInternal/Devices/efi/0/Config/DmiSystemProduct", "VBoxInternal/Devices/efi/0/Config/DmiSystemVersion", "VBoxInternal/Devices/efi/0/Config/DmiBoardProduct" and so on. I'll investigate. Would that be something to add to the macinbox scripts modifying the base box?

[2020-06-30 18:10] frankosterfeld commented on #61
If I add the following line to my Vagrantfile, the VM boots on the Macbook Pro 2020:

    vb.customize ["modifyvm", :id, "--cpuid-set", "00000001", "000306a9", "04100800", "7fbae3ff", "bfebfbff"]

[2020-07-07 19:29] clusin commented on #55
It's a MacOS limitation. Running `sudo mkdir -P /hello` on your local machine gets the same error. Apple doesn't want you writing to `/`. Instead map the file somewhere else, e.g. `/opt` or `/private/etc`.

I think most of the confusion is coming from the default `Vagrantfile` that is generated by `vagrant init`. It's something like ```config.vm.synced_folder ".", "/vagrant", disabled: true```

[2020-07-08 15:19] adamwolf commented on #55
It seems supported to me? `man synthetic.conf` on a 10.15 or higher machine.

On a pragmatic level, I created a directory in root's homedir and made a "synthetic firmlink" to it from /vagrant using synthetic.conf, and it's worked for me for few months so far.

[2020-07-09 04:27] yeahdongcn commented on #55
`/etc/synthetic.conf` works well.

On macOS 10.15, you could use `sudo mount -uw /` to make `/` writable (doesn't work on Big Sur).

[2020-07-11 20:57] clusin commented on #55
Deleted my previous post cuz I didn't read @adamwolf initial post carefully 😬

I followed the suggestions here and added my root directory name to `/etc/synthetic.conf`. My `/etc/synthetic.conf` file looks like:
`<foldername>`

For the synced folder I went the NFS route. I I'm trying to keep my box slim on disk space and degraded performance of nfs mount is okay for me. Using VirtualBox as the pro

[2020-07-14 22:35] bacongravy commented on #55
To support the default rsync case, perhaps we should update `macinbox` to create a `synthetic.conf` in the VM image and add an entry to it like this:

[code]

[2020-08-05 10:11] psibre commented on #58
Another problem with the current behavior is that if the box already exists and is built again, the version is incremented automatically to the next integer.
For example, I have built a Catalina box, which creates `~/.vagrant.d/boxes/macinbox/10.15.6` as expected.
But if I then build a newer version of a Catalina box (e.g., because I want to change some build-time default setting, such as `--no-gu

[2020-08-18 10:17] frankosterfeld commented on #4
https://github.com/myspaghetti/macos-virtualbox/blob/master/macos-guest-virtualbox.sh might have a solution for this (search for "csr-active-config"), generating a nvram file and loading it in the EFI boot loader, if I read that code correctly.

[2020-08-19 14:25] frankosterfeld commented on #4
I've created a pull request, but I can only test virtualbox here, so this needs to be applied for the other providers, too.

[2020-08-21 20:07] ideologysec opened #63 "Name VHD/VDMK files based on name of box"
as the title says, it would be great to name the vmdk/vhd/etc files after the name of the box if one is passed in, instead of hardcoding macinbox.

[2020-08-21 20:42] ekaiser-uptycs commented on #61
Would this perhaps enable Mojave building on Catalina if these were set when the vm was being created?

[2020-08-24 19:18] bacongravy commented on #58
The current behavior is to automatically use the OS version (e.g. `10.15.6`), but if box with that version already exists then the first number is incremented (e.g. to `11`, then `12`, and `13`) until there is no conflict.

I hear a couple of ideas:

* Change the default to be `1.0.0` instead of the OS version
* Allow the version to be set via a command-line tool

But what do people want to happen

[2020-08-24 19:22] bacongravy commented on #4
@frankosterfeld Thank you for the PR!  I haven't had a chance to give it a spin but it looks good.  I don't how to replicate this functionality for VMware Fusion or Parallels Desktop, so it may need to be VirtualBox-only for now.

[2020-08-24 19:23] bacongravy commented on #4
(Specifically, I don't know how to replicate the `dmpstore` call from startup.nsh for VMware or Parallels.)

[2020-08-24 19:24] bacongravy commented on #63
Sure, that seems reasonable.

[2020-08-24 19:29] bacongravy commented on #61
@frankosterfeld Thanks for investigating this.  Its not clear to me how to solve this generally.  Presumably we would only want to call `cpuid-set` with these arguments for a box being run on a MacBook Pro 2020?  Since `macinbox` doesn't know what hardware you're planning to run the box on, how could it properly configure the box?  I suppose the Vagrantfile in the box itself could contain logic th

[2020-08-24 20:05] andreiborisov commented on #58
It definitely shouldn't overwrite anything and it can be pretty confusing if the version is automatically incremented. So I would say it should fail if the version already exists.

[2020-08-25 05:55] frankosterfeld commented on #61
@ekaiser-uptycs I don't think it would help, the installer is run on the host afaik, where it also checks for the host system.

@bacongravy the ID also makes it work on other hardware and operating systems, so it's not specific to the Macbook 2020. But I'm not sure either if it should be baked into the image, one might not want it when run on actually compatible hardware. I'm not sure what the bes

[2020-09-14 16:54] LcTrKiD opened #64 "Compatibility with Big Sur"
I'm getting this error when trying to create a box with Big Sur:

[code]

[2020-09-18 19:07] LcTrKiD commented on #64
any idea @bacongravy  ?

[2020-09-18 19:31] bacongravy commented on #64
I haven't investigated Big Sur recently. I couldn't figure out how to download the installer app when the first beta came out, and I haven't revisited it.  It sounds like the installer app is laid out differently.  As long as it still contains a disk image of the OS to install, though, I suspect it would be possible to adapt `macinbox` to find it using a new heuristic.

I'll see if I can find a wa

[2020-09-22 19:04] LcTrKiD commented on #64
I did the download using https://github.com/munki/macadmin-scripts/blob/main/installinstallmacos.py

[2020-10-14 22:10] ekaiser-uptycs commented on #58
options.rb:
[code]

actions/install_box.rb:
[code]

[2020-10-14 22:15] ideologysec commented on #58
options.rb:
[code]

actions/install_box.rb:
[code]

[2020-10-14 22:16] ideologysec commented on #63
controlled/set in cli.rb (L130-134), would also need an options.rb update:

[code]

[2020-10-21 16:36] gitpushdashf opened #65 "Catalina installer download: Update not found"
How can I find the correct link?

Thank you!

[2020-10-21 18:34] gitpushdashf opened #66 "Catalina: /usr/sbin/diskutil failed with non-zero exit code: 1"
Hi,

This is a really cool project. Trying it out on Catalina, using a Catalina image I made with macadmin-scripts (couldn't get the official download to work).

[code]

Might I have more luck with non-Virtualbox? Do you have any suggestions on what I can try next?

Thank you!

[2020-10-21 21:52] bacongravy commented on #66
@gitpushdashf I’m sorry this isn’t working for you. Thanks for letting me know. Could you try rerunning the command with the verbose flag and seeing if you get more detail?  I don’t think your choice of box format is the cause of this issue.  Maybe you are low on disk space?  Hopefully the verbose logging gives us a clue.

[2020-11-07 20:09] bacongravy commented on #64
I started to look into this.  It doesn't look promising.

The first problem, as you discovered, is that the `InstallInfo.plist` file is no longer present in Big Sur installer app.  In fact, I can't find any file inside of the installer app that definitively indicates what version of the OS the installer will install.

If I hack the script to assume that it is installing version 11.0.1 of the OS, t

[2020-11-07 20:09] #65 closed, assigned to nobody

[2020-11-14 12:44] andreiborisov commented on #64
Ugh, that's disappointing... I wish Apple would be more friendly for the dev and automation community.

[2020-11-14 12:49] andreiborisov commented on #64
Can we somehow try to install it from the recovery partition? It appears Parallels doing something similar when you create macOS VM with their GUI.

[2020-11-14 18:45] andreiborisov commented on #64
Obviously, it won't replace macinbox, but I've [published](https://app.vagrantup.com/andreiborisov/boxes/macos-bigsur-intel) a manually created base box with Big Sur (for Parallels provider) and committed to updating it roughly within a week of new macOS releases. Feel free to use it and report any issues or suggestions [here](https://github.com/andreiborisov/vagrant-macos).

[2020-11-14 18:53] bacongravy commented on #64
@andreiborisov Thanks for the link.

I'll try playing around with running `macinbox` from a Big Sur recovery partition, but I'm not optimistic that it'll work, and even if it does, it's still pretty inconvenient to have to boot into the recovery partition to use the tool.

Another approach would be to use `packer` to boot the Big Sur installer in a VM and try to use VNC scripting to walk through t

[2020-11-23 11:02] LcTrKiD commented on #64
I'm using this project right now and it use a very clever solution to install the os from the recovery assistant using voiceover and boot commands to open the terminal...
https://github.com/trodemaster/packer-macOS-11

[2020-11-23 21:21] mcandre opened #67 "Install Xcode"
Please install Xcode, to relieve users of the burden of automating this. Xcode is an important dependency for a multitude development projects on macOS, including using modern Homebrew.

For example, use `mas` to install Xcode.

https://github.com/mas-cli/mas

Or, once you have the .XIP downloaded, you can use `xip --expand <.XIP>` followed by `xcode-select --install`:

https://ladydebug.com/blog/

[2020-11-24 01:41] mcandre opened #68 "Shrinking the virtual disk"
(Are we already doing this in the default macinbox build?)

Hey, I noticed that some of the macinbox VM's published to Vagrant Cloud are quite large, 100 GB of virtual capacity expressed in 40 GB of host box storage. That seems excessive. Remember that a Vagrant box does not exist just once on the host, but gets copied to an instance, and then copied even more times when extending a box to create

[2020-11-24 01:45] mcandre commented on #55
This appears to work for me:

[code]

Maybe the /var/root/vagrant version of this just needs a similar mkdir -p done during provisioning to work, I dunno. But I get an I/O error that way, which is really just hiding a permission error. At least with the kishikawakatsumi/macos-catalina-xcode12 box on Vagrant Cloud (one of the few, uncorrupt, boxes available with a sufficiently recent patch level of

[2021-01-31 04:43] vemv commented on #66
~I was consistently experiencing this exact same issue. Then I realised in the logs a reference to a volume image that was completely unrelated to macinbox (i.e. I had downloaded some software so I had `/Volumes/foo.app` mounted).~

~After unmounting this image, the issue was gone.~

[2021-01-31 06:42] vemv commented on #66
What I said above wasn't an actual fix, it worked merely by chance.

Here's what worked though:

* run in verbose mode
* increase the [retries](https://github.com/bacongravy/macinbox/blob/14548eeee943b8999da7a831d15cc9e733f9493e/lib/macinbox/virtual_disk.rb#L68) from 5 to 100
  * this is simply for giving me time to debug things without having the process finish too soon
* Execute exactly what mac

[2021-02-17 18:28] branylagaffe commented on #64
As of BigSur 11.2, there is now a `Info.plist` with relevant info about the installer
`<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>11.2</string>
	<key>DTSDKBuild</key>
	<string>20D74</string>
	<key>DTSDKName</key>
`

But the key problem remains

[2021-02-19 19:12] jokreliable commented on #67
you could use the user-script functionality to do this.

[2021-11-13 04:28] nycnewman commented on #64
Are there any hints about how to resolve this? Is Macinbox broken after Catalina for good?

[2021-11-29 19:08] adamwolf commented on #48
I ran into this, and I have a few more details.

1) I ran into this when running this *as* root.  As a user, I had LANG and LC_ALL set already, but as root, I did not.  I know  I didn't do anything hinky with those because this was pretty soon after a fresh install.

2) I tried the ENV['LANG'] thing in cli.rb, and it didn't work, which led me to investigate.  The issue seems to actually be with th

[2021-12-29 12:10] frankosterfeld commented on #64
For the record, one runs into the same issues with Monterey (I guess that was to be expected).

[2021-12-29 14:48] nycnewman commented on #64
Right now I use Packer to build a vagrant box. Not clear if the techniques used by packer work via Vagrant (start a VM and run installer from ISO)

[2022-11-04 21:31] #57 closed, assigned to nobody

[2022-11-04 21:32] #58 closed, assigned to nobody